.creator-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transform: scale(1);
  margin-left: -300px;
  margin-top: 150px;
}


.debug-container {
  display: flex;
}

// TODO hack for poor layout during hackaton
.options-card {
  min-height: 843px;
}


.mascot-header {
  display: flex;
  justify-content: space-between;

  h1 {
    width: 100%;
  }
}

.mascot-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slot-row {
  margin-top: 4px;
}


@keyframes blink {
  50% {
    color: transparent
  }
}

.loader__dot {
  animation: 1s blink infinite
}

.loader__dot:nth-child(2) {
  animation-delay: 250ms
}

.loader__dot:nth-child(3) {
  animation-delay: 500ms
}

.btn-group-right {
  margin-left: auto;
  display: flex;
}

.editor-panel{
  background-color: #212529;
  padding: 10px;
  border-bottom: 1px solid #30363a;
  border-left: 1px solid #30363a;
  border-right: 1px solid #30363a;
}
