<div class="row">
  <div class="col-sm-12 mt-3">
    <div class="card bg-dark-transparent text-white flex-grow-1">
      <div class="card-body d-flex flex-column">
        <div class="mascot-header" style="    display: flex;
    justify-content: space-between;
}">
          <h1 class="card-title highlight-color">
            Alpha Version live for Project Awakening Phase 3 <span class="badge bg-danger">NEW!</span>
          </h1>
          <div>
            2024-06-08 13:49
          </div>
        </div>
        <p> I just released the first alpha version of my Mascot Creator to all participants of the Phase 3 test. I won't go as hard as the last week but I still want to add some things and continue to experiment with the blockchain current priorities are</p>
        <ul>
          <li>Add more (functional) ways to unlock cosmetics. (Missions, scavenge hunts etc).</li>
          <li>Add more cosmetics!</li>
        </ul>

        <p>
          If you want to help out with creating art you can reach me on Discord (Kalbuir) or configure existing art with the <a class="highlight-color" routerLink="/home" routerLinkActive="active">Create</a> feel free!
        </p>
      </div>

    </div>
  </div>
  <div class="col-sm-12 mt-3">
    <div class="card bg-dark-transparent text-white flex-grow-1">
      <div class="card-body d-flex flex-column">
        <div class="mascot-header" style="    display: flex;
    justify-content: space-between;
}">
          <h1 class="card-title highlight-color">
            Hackathon submission done! <span class="badge bg-danger">NEW!</span>
          </h1>
          <div>
            2024-06-07 18:00
          </div>
        </div>
        <p> I just finished my submission for Project Awakening Hackathon phase 3 you can see my final presentation and hopefully vote for it <a class="highlight-color" href="https://phase3.projectawakening.io/modules/infohackathon/30">here</a> it's the one currently in 2nd place with the "Introducing the Mascot" text</p>

        <p>I also encourage you to watch the CCP "Builder Show & Tell stream" <a class="highlight-color" href="https://discord.com/channels/1021714190102175754/1242795630963982398/1247521269428125767">here</a> where I was a guest and went into my idea and plans for the future a bit more clearly than in the final presentation. (what lack of sleep does to a guy :P )</p>
      </div>

    </div>
  </div>
</div>
