.coming-soon-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.selector-box {
  border: 1px solid grey;
  margin: 5px;
}

.coming-soon-text {
  color: #9b9b9b;
}

.header-with-gift {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
