<div class="container-fluid" *ngIf="connected$ | async as connected">
  <header>
    <div>
      <img class="logo" src="assets/logo.svg" alt="Eve Awakening Logo">
    </div>
    <div *ngIf="connected === 'connected'">
      <a routerLink="/editor" routerLinkActive="active"  class="btn btn-primary btn-menu me-2">Mascot Editor</a>
      <a routerLink="/mint" routerLinkActive="active" class="btn btn-primary btn-menu me-2">Mint</a>
      <a routerLink="/inventory" routerLinkActive="active"  class="btn btn-primary btn-menu me-2">Inventory</a>
      <a routerLink="/command" routerLinkActive="active"  class="btn btn-primary btn-menu">Command Center</a>
    </div>
    <div *ngIf="connected === 'connected'">
            <a class="btn btn-outline-dark disabled me-2">{{chainName}}</a>
            <a class="btn btn-outline-dark" (click)="disconnect()">Disconnect</a>
    </div>
  </header>
  <main>
    <div *ngIf="connected === 'unknown'">
      Loading
    </div>
    <ng-container *ngIf="connected === 'connected'">
      <router-outlet></router-outlet>
    </ng-container>
    <div *ngIf="connected === 'disconnected'">
      <!-- TODO Hack to make it work temporary in the in-game browser -->
      <ng-container *ngIf="availableProviders[0].info.name !== 'OneKey'">
        <app-editor-page></app-editor-page>
      </ng-container>
      <ng-container *ngIf="availableProviders[0].info.name === 'OneKey'">
      <div class="row">
        <div class="col-sm d-flex flex-column">
          <app-ssu-description></app-ssu-description>
        </div>
        <div class="col-sm disconnected-container d-flex flex-column">
          <div class="card bg-dark-transparent text-white flex-grow-1">
            <div class="card-body d-flex flex-column">
              <div>
                You are currently not connected if you wish to interact with this depot you will require to authenticate
                through your EVE Vault wallet.
              </div>
              <div class="connection-actions flex-grow-1">
                <button (click)="connect()" class="btn btn-dark">
                  Connect to wallet
                </button>
                <button (click)="installVault()" class="btn btn-dark mt-1">
                  Please install EVE Vault
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </ng-container>
    </div>
  </main>
</div>
