.btn-menu {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border: 1px solid rgb(33, 37, 41);
}

.btn-menu:hover, .btn-menu:active {
  color: #eaab1a;
  background-color: rgba(0, 0, 0, 1) !important;
}

.btn-menu.active {
  color: #eaab1a;
  background-color: rgba(0, 0, 0, 1) !important;
}

.character-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 175px;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
}

main {
  padding: 1em;
}

.container {
  height: 100%;
}

.connection-actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;

  button {
    width: 200px;
  }
}


